h2 {
    color: blueviolet;
}

body {
    background-color: aquamarine;
    color: blue;
    font-family: Roboto, sans-serif;
    text-align: center;
}

header {
    border-bottom: 1px solid grey;
}

footer {
    border-top: 1px solid grey;
}

#nome-usuario {
    font-weight: bold;
}

.texto-ingles {
    font-style: italic;
}
